<h2 mat-dialog-title>Ajuda sobre a Origem</h2>

<mat-dialog-content>
  <p><strong>0</strong>: Nacional, exceto as indicadas nos códigos 3 a 5.</p>
  <p><strong>1</strong>: Estrangeira - Importação direta, exceto a indicada no código 6.</p>
  <p><strong>2</strong>: Estrangeira - Adquirida no mercado interno, exceto a indicada no código 7.</p>
  <p><strong>3</strong>: Nacional, mercadoria ou bem com Conteúdo de Importação superior a 40%.</p>
  <p><strong>4</strong>: Nacional, cuja produção tenha sido feita em conformidade com os processos
                                produtivos básicos de que tratam o Decreto-Lei nº 288/67 e as Leis nºs 8.248/91,
                                8.387/91, 10.176/01 e 11.484/07.</p>
  <p><strong>5</strong>: Nacional, mercadoria ou bem com Conteúdo de Importação inferior ou igual a 40%.</p>
  <p><strong>6</strong>: Estrangeira - Importação direta, sem similar nacional, constante em lista de Resolução CAMEX.</p>
  <p><strong>7</strong>: Estrangeira - Adquirida no mercado interno, sem similar nacional, constante em lista de Resolução CAMEX.</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
